.footer
  .cont_footer
    .fcol1
      %h2 Contacto
      .contacts
        %span.tel +54 (0351) 155 952 071
        %span.mail
          = mail_to "poli@pictomotion.com", "contact me:", :encode => "hex"
    .fcol2
      .address
        %span
          Entre Ríos 165, Bell Ville.
        %span
          Córdoba, Argentina.
    