/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

//= require main

/*Reset default html styles*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #666666;
	font: normal 12px Georgia;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, 
blockquote:after,
q:before, 
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body{height:100%;} 
/* end hack */
html,body {margin:0;padding:0}

/* site */
body{
  margin: 0;
  padding: 0;  
}

h1,
h2{
	font: normal 33px Georgia;
	display: block;
	width: 100%;
	margin: 15px 0;
}

h2{
	font: normal 33px Georgia;
}

.spacer{
	clear: both;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  min-height:100%;
  height:auto;
  position: relative;
}

.header{
	width: 960px;
	margin: 0 auto;
	height: 117px;
	border-bottom: 1px dotted #000;
	position: relative;
}

.header .logo{
  width: 202px;
  height: 60px;
  float: left;
  margin-top: 26px;
}

.header .logo a{
  display: block;
  width: 202px;
  height: 60px;
}

.main_content{
  width: 960px;
  margin: 10px auto;
  position: relative;
}

.footer{
	height: 125px;
	background: #D9D9D9;
}

.main_menu{
	width: 50%;
	height: 28px;
	padding-top: 48px;
	position: relative;
	float: right;
}

.main_menu ul{
	display: block;
	position: absolute;
	right: 0;
}

.main_menu ul li{
	display: block;
	float: left;
	padding: 5px 20px;
	border-left: 1px dotted #666;
}

.main_menu ul li a{
	display: block;
	font: normal 16px Georgia;
	color: #333;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
}

.main_menu ul li:last-of-type{
	border-right: 1px dotted #666;
}

.main_menu ul li:hover{
	background: none;
}

.user_nav{
	width: 30%;
	height: 28px;
	position: absolute;
	right: 0;
	top: 0;
}

.user_nav ul{
	display: block;
	position: absolute;
	right: 0;
}

body#projects_about_me .main_menu ul li a.about_me,
body#projects_index .main_menu ul li a.projects{
	background: #FF3366;
	color: #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
}

ul.imglist li{
	width: 240px;
	height: 275px;
	float: left;
	position: relative;
}

ul.imglist li .bg{
	position:absolute;
	top: 0;
	left: 0;
	width: 240px;
	height: 275px;
	background-color: rgb(220,220,220);
    background: -moz-linear-gradient(top, rgba(200,200,200,1) , rgba(220,220,220,0));
    background: -webkit-gradient(linear, 0 0, 0 30%, from(rgba(200,200,200,1)),  to(rgba(220,220,220,0)) );
}

ul.imglist li a#open_project{
	display: block;
	width: 220px;
	height: 175px;
	margin: 10px 10px 0 10px;
	text-decoration: none;
	position: absolute;
}

ul.imglist li a#open_project img{
	
}

ul.imglist li a#open_project .img{
	width: 220px;
	height: 175px;
	clear: both;
	display: block;
	opacity: 0;
}

ul.imglist li .actions{
	position: absolute;
	top: 15px;
	right: 15px;
}

ul.imglist li .actions a{
	margin-left: 4px;
}

.actions img{
	opacity: 1;
}

.bg{
	opacity: 0;
}

.desc .title,
.desc .description{
	display: inline-block;
	font-family: Georgia;
	color: #666;
	font-size: 16px;
	width: 200px;
}

.desc .title{
	font-size: 20px;
	color: #FF3366;
}

.moreplus{
	padding-top: 5px;
	height: 20px;
	border-bottom: 1px dotted #666;
	width: 200px;
}

.moreplus .more,
.moreplus .plus{
	display: block;
	float: left;
	font: normal 13px Arial, Helvetica, sans-serif;
	height: 20px;
}

.moreplus .plus{
	font-size: 20px;
	color: #FF3366;
	margin-right: 5px;
	line-height: 15px;
}


div.actions a{
	display: block;
	float: left;
}

/*carrousel*/

.caroufredsel_content{
	position: relative;
	padding-bottom: 60px;
}
.caroufredsel_wrapper,
.work_cont{
	height: 560px;
	overflow: hidden;
}

.nav_work{
	position: absolute;
	right: 0;
	top: -45px;
}

.next,
.prev,
#close{
	display: block;
	width: 25px;
	height: 25px;
	float: left;
	cursor: pointer;
}

.next{
	margin-left: 7px;
}

#close{
	position: absolute;
	right: 0;
	bottom: 60px;
}

.next span,
.prev span,
#close span{
	display:none;
}

#work{
	border-bottom: 1px dotted #666;
}

#work .col1{
	width: 240px;
	float: left;
}

#work .col2{
	width: 720px;
	float: right;
}

.info{
	margin-top: 25px;
}

.category ,
.client ,
.col2 {
	font: normal 14px Georgia;
	color: #666;
}

.category span,
.client span,
.col2 span{
	display: block;
	width: 100%;
	font: normal 14px Georgia;
	color: #FF3366;
}

.category span.tclient{
	color: #666;
}

.projects_cont{
	margin-top: 20px;
}

.cont_footer{
	margin: 0 auto;
    width: 960px;
    padding-top: 10px;
}


.cont_footer h2{
	margin-bottom: 0;
}

.fcol1,
.fcol2{
	float: left;
	width: 205px;
}

.fcol1 span{
	display: block;
	font: normal 13px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	width: 162px;
	background: #FF3366;
	padding: 2px 5px;
}

.fcol1 span.mail{
	background: #ADADAD;
	margin-top: 5px;
}

.fcol1 span a{
	background: #adadad;
	text-decoration: none;
	font: normal 13px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

.contacts{
	border-right: 1px dotted #666;
}

.address{
	margin-top: 50px;
	margin-left: 30px;
}

.address span{
	display: block;
	width: 100%;
	font: normal 13px Georgia;
	color: #333;
}

.notice,
.alert{
	width: 960px;
	margin: 0 auto;
}

.new_project_btn,
.sign_out_btn{
	display: block;
	background:#00CC00;
    color: #FFFFFF;
    font: 12px Arial,Helvetica,sans-serif;
    padding: 2px 5px;
    white-space: nowrap;
    text-decoration: none;
}

.sign_out_btn{
	width: 50px;
	float: right;
}

.new_project_btn{
	position: absolute;
	right: 0;
	top: -15px;
}

.file {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.file .button {
  background: #79130e;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  padding: 4px 18px;
  text-transform: uppercase;
}

.file input {
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
  font-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#files_to_upload{
	display: none;
}

#files_to_upload .file{
	display: list-item;
}

img.imgcolors{
	
}
